<div class="modal-header">
  <h4 class="modal-title pull-left">Funcionários de {{ companyName }}</h4>
  <button type="button" class="close pull-right" aria-label="Close" (click)="bsModalRef.hide()">
    <span aria-hidden="true">&times;</span>
  </button>
</div>
<div class="modal-body">
  <table style="width:100%" *ngIf="employeesList.length">
    <tr>
      <th>Nome</th>
      <th>Função</th>
      <th>E-mail</th>
      <th></th>
    </tr>
    <tr *ngFor="let employee of employeesList">
      <td>{{ employee?.name }}</td>
      <td>{{ employee?.description }}</td>
      <td>{{ employee?.email }}</td>
      <td><input type="checkbox"
         [disabled]="onDisableEmployee(employee.idSectorCompany)"
         (change)="onAddEmployeeToReturnList($event, employee)"
         [checked]="onEmployeeChecked(employee.idSectorCompany)">
      </td>
    </tr>
  </table>
</div>
<div class="modal-footer">
  <button type="button" class="btn btn-default" (click)="bsModalRef.hide()">Cancelar</button>
  <button type="button" class="btn btn-default" (click)="onPassCallBack();bsModalRef.hide()">Salvar</button>
</div>
