<!-- Spinner global -->
<ngx-spinner size="default" type="ball-clip-rotate" [fullScreen]="true">
</ngx-spinner>

<div class="wrapper bg-light">
  <!-- Sidebar -->
  <nav
    id="sidebar"
    data-color="orange"
    data-image="../../../assets/img/sidebar-5.jpg"
  >
    <div class="sidebar-header">
      <h4>Risco Compliance</h4>
    </div>

    <ul class="list-unstyled components">
      <!-- <li class="nav-item">
        <a class="nav-link" href="./dashboard.html">
          <i class="nc-icon nc-chart-pie-35"></i>
          <p>Dashboard</p>
        </a>
      </li> -->
      <li class="nav-item">
        <a class="sidebar-nav-link nav-link active" [routerLink]="['home']">
          <i id="" data-feather="pie-chart"></i>
          Dashboard
        </a>
      </li>
      <li class="nav-item">
        <a
          class="sidebar-nav-link nav-link"
          [routerLink]="['organograma']"
        >
          <i id="" data-feather="share-2"></i>
          Organograma
        </a>
      </li>
      <li class="nav-item">
        <a class="sidebar-nav-link nav-link" [routerLink]="['processo']">
          <i id="" data-feather="file-minus"></i>
          Processo
        </a>
      </li>

      <li>
        <a
          href="#homeSubmenu"
          data-toggle="collapse"
          aria-expanded="false"
          class="sidebar-nav-link dropdown-toggle"
          >Administração</a
        >
        <ul class="collapse list-unstyled" id="homeSubmenu">
          <li>
            <a class="sidebar-nav-link nav-link" href="#">

              Cadastrar usuário
            </a>
          </li>
          <li>
            <a
              class="sidebar-nav-link nav-link"
              [routerLink]="['empresas/lista']">

              Cadastrar empresa
            </a>
          </li>
          <li>
            <a class="sidebar-nav-link nav-link" [routerLink]="['funcionarios']">

              Cadastrar funcionário
            </a>
          </li>
        </ul>
      </li>
    </ul>
  </nav>

  <div id="content">
    <nav class="navbar navbar-expand-lg navbar-top">
      <div class="container-fluid">
        <button type="button" id="sidebarCollapse" class="btn btn-rc-orange">
          <i id="sidebarIcon" data-feather="arrow-left"></i>
        </button>

        <div class="collapse navbar-collapse" id="navbarSupportedContent">
          <ul class="nav navbar-nav ml-auto">
            <li class="nav-item">
              <a class="nav-link" href="#">
                <i id="sidebarIcon" data-feather="bell"></i>
              </a>
            </li>
            <li class="nav-item">
              <div class="profile-wrapper">
                <a class="nav-link profile-wrapper" href="#">
                  <img src="../assets/avatar/avatar.png" alt="avatar" />

                  <div class="profile-details">
                    <label>Nunes</label>
                    <p>Analista de sistemas</p>
                  </div>
                </a>
              </div>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="#">Login</a>
            </li>
          </ul>
        </div>
      </div>
    </nav>

    <!-- <div class="notificationBar">
        Hello Nunes!
    </div> -->
    <br />

    <div class="container">
      <!-- <alert type="warning" *ngIf="showAlertChanges">
        <strong>*</strong> você possui alterações pendentes a serem salvas.
      </alert>
      <br /> -->

      <router-outlet></router-outlet>
    </div>
  </div>
</div>
