<div [@flyInOut]="'in'" class="form-container">
  <div class="form-content">
    <form

      (ngSubmit)="submit(loginForm)"
      class="login-form"
      novalidate
    >
      <h4>Risco Compliance</h4>
      <br />
      <div class="login">
        <div class="row">
          <div class="col-md-12">
            <input
              type="email"
              name="email"
              class="form-control form-rc-input"
              formControlName="email"
              placeholder="E-mail"
            />
            <div
              class="alert alert-danger"
              data-cy="email-error"
              [hidden]="
                loginForm.controls.email.untouched ||
                loginForm.controls.email.valid
              "
            >
              A valid email address is required
            </div>
          </div>
        </div>
        <br />
        <div class="row">
          <div class="col-md-12">
            <input
              type="password"
              name="password"
              class="form-control form-rc-input"
              formControlName="password"
              placeholder="Password"
            />
            <div
              class="alert alert-danger"
              data-cy="password-error"
              [hidden]="
                loginForm.controls.password.untouched ||
                loginForm.controls.password.valid
              "
            >
              Password is required (6 or more characters with at least one
              number)
            </div>
          </div>
        </div>
        <br />
        <div class="row">
          <div class="col-md-12">
            <button
              type="submit"
              class="btn btn-rc-orange btn-rc-form"
              [disabled]="!loginForm.valid"
            >
              Login
            </button>
          </div>
        </div>
        <br />
        <div class="statusRow">
          <br />
          <div class="label label-important" *ngIf="errorMessage">
            <span class="glyphicon glyphicon-thumbs-down icon-white"></span
            >&nbsp;&nbsp;Error: {{ errorMessage }}
          </div>
        </div>
      </div>
    </form>
  </div>
</div>
