<h2>{{ nameNode }}</h2>

<p>ID: {{ idOrgNode }}</p>

<table class="table" style="width: 100%" *ngIf="employees">
  <tr>
    <th>Nome</th>
    <th>Função</th>
    <th>E-mail</th>
    <th></th>
  </tr>
  <tr *ngFor="let employee of employees">
    <td>{{ employee.nome }}</td>
    <td>{{ employee.descricao }}</td>
    <td>{{ employee.email }}</td>
  </tr>
</table>

<p>
  Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nunc sit amet nunc
  scelerisque, aliquam sapien non, lobortis tellus. Vestibulum leo nunc, lacinia
  vitae odio vel, ullamcorper egestas orci. Cras consectetur arcu orci, vel
  venenatis massa lobortis sed. Ut ullamcorper, mauris vitae posuere eleifend,
  dui quam pulvinar odio, at vehicula sem tortor in purus.
</p>
