.organograma-box {
  border-radius: 10px;
  width: 100%;
}

.organograma-detail-box {
  border-radius: 10px;
  padding: 5%;
}

/* JS Tree edit */
:host ::ng-deep .jstree-proton .jstree-clicked {
  background-color: #df8f2e;
}

:host ::ng-deep .jstree-proton .jstree-hovered {
  background-color: #df8f2e;
}
